/*-----Global-----*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family:'Poppins', sans-serif;
    font-weight: 100;
}

body {
    width: 60%;
    margin: auto;
    background-image: url("images/background.png");
    background-position: center;
    background-size: contain;
    background-repeat: repeat-y;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    color: #424242;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    color: #424242;
}

h5 {
    font-family:"Poppins", sans-serif;
    font-size: 20px;
    margin-top: 10px;
    color: #424242;
}

p {
    color: #757575;
    font-weight: 100;
    margin-top: 10px;
    font-size: 20px;
}

.pink {
    color: #F48FB1;
}
.blue {
    color: #039BE5;
}
.green {
    color: #AED581;
}

/*----Nav-----*/
.nav {
    display: flex;
    align-items: center;
    height: 100px;
}
.name {
    flex: 1;
    margin-top: 5px;
}
.navItems {
    text-align: right;
    overflow: hidden;
}
.navItems a, .name a {
    display: inline-block;
    vertical-align: middle;
    color: #424242;
}
.navItems a {
    margin-left: 40px;
    text-decoration: none;
}
.navItems .icon {
    display: none;
}
.name a {
    text-decoration: none;
}


@media screen and (max-width: 768px) {
    body {
        width: 90%;
    }
    .nav {
        display: block;
    }
    .name {
        display: none;
    }
    .landingL {
        text-align: left;
    }
}

@media screen and (max-width: 769px) {
    .navItems a {display: none;}
    .navItems a.icon {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .navItems.responsive {position: relative;}
    .navItems.responsive .navItems .icon {
        right: 0;
        top: 0;
    }
    .navItems.responsive a {
        display: block;
    }
    .navItems {
        text-align: center;
        margin-right: 10%;
        margin-top: 5%;
    }
}

/*-----Landing-----*/
.landing {
    height: 70vh;
    position: relative;
}
.landingWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.landingL {
    margin-top: 4em;
}
.scroll {
    position: absolute;
    bottom: 180px;
    left: 0;
    right: 0;

}
/*-----Work 01-----*/
.work {
    width: 100%;
    position: relative;
    margin-bottom: 15em;
}
.work > .workText {
    position: absolute;
    top: 85px;
}
.work > .workText >.underline {
    display: block;
    background-color: #027bff;
    height: 3px;
    width: 72px;
    margin-top: 5px;
}
.work > .workBg .workImg{
    width: 88%;
    float: right;
    -webkit-box-shadow: 0px 3px 20px 0px #9E9E9E;
    -moz-box-shadow: 0px 3px 20px 0px #9E9E9E;
    box-shadow: 0px 3px 20px 0px #9E9E9E;
}
/*----------onHoverChangeImg----------------*/
.work > .workBg img:last-child {display: none}
.work > .workBg:hover img:first-child {display: none}
.work > .workBg:hover img:last-child {display: inline-block}

.work ul {
    position: absolute;
    bottom: 0;
    right: 86%;
}
.work ul li {
    margin-top: 20px;
}

/*-----Work 02-----*/
.work2 {
    width: 100%;
    position: relative;
    margin-bottom: 15em;
}
.work2 > .workText {
    position: absolute;
    top: 85px;
    right: 0;
    text-align: right;
}
.work2 > .workText >.underline {
    display: block;
    background-color: #027bff;
    height: 3px;
    width: 72px;
    margin-top: 5px;
    float: right;
}
.work2 > .workBg .workImg{
    width: 88%;
    float: left;
    -webkit-box-shadow: 0px 3px 20px 0px #9E9E9E;
    -moz-box-shadow: 0px 3px 20px 0px #9E9E9E;
    box-shadow: 0px 3px 20px 0px #9E9E9E;
}
/*----------onHoverChangeImg----------------*/
.work2 > .workBg img:last-child {display: none}
.work2 > .workBg:hover img:first-child {display: none}
.work2 > .workBg:hover img:last-child {display: inline-block;}

.work2 ul {
    position: absolute;
    bottom: 0;
    left: 86%;
}
.work2 ul li {
    margin-top: 20px;
}

/*-----Work 03-----*/
.work3 {
    width: 100%;
    position: relative;
    margin-bottom: 15em;
}
.work3 > .workText {
    position: absolute;
    top: 85px;
}
.work3 > .workText >.underline {
    display: block;
    background-color: #027bff;
    height: 3px;
    width: 72px;
    margin-top: 5px;
}
.work3 > .workBg .workImg{
    width: 88%;
    float: right;
    -webkit-box-shadow: 0px 3px 20px 0px #9E9E9E;
    -moz-box-shadow: 0px 3px 20px 0px #9E9E9E;
    box-shadow: 0px 3px 20px 0px #9E9E9E;
}
/*----------onHoverChangeImg----------------*/
/*.work3 > .workBg img:last-child {display: none}*/
/*.work3 > .workBg:hover img:first-child {display: none}*/
/*.work3 > .workBg:hover img:last-child {display: inline-block}*/

.work3 ul {
    position: absolute;
    bottom: 0;
    right: 86%;
}
.work3 ul li {
    margin-top: 20px;
}

/*------------Adaptive-------------*/
@media screen and (max-width: 768px){
    .work > .workImg {
        width: 100%;
    }
    .work > .workText {
        position: relative;
        top: 0;
        text-align: left;
        margin-bottom: 20px;
    }
    .work2 > .workImg {
        width: 100%;
    }
    .work2 > .workText {
        position: relative;
        top: 0;
        text-align: right;
        margin-bottom: 20px;
    }
    .work3 > .workImg {
        width: 100%;
    }
    .work3 > .workText {
        position: relative;
        top: 0;
        text-align: left;
        margin-bottom: 20px;
    }
}

/*-----all works----*/
.work a, .work2 a, .work3 a{
    text-decoration: none;
}

/*-----footer---*/
.footer {
    padding-top: 10em;
    margin-bottom: 100px;
    text-align: center;
}
.footerIcons a{
    margin: 10px;
}

/*-------about page-------*/
.profileImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
}
.content {
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
}
@media screen and (max-width: 768px) {
    .content {
        margin-left: 0;
        margin-right: 0;
    }
}

.mailto {
    text-decoration: none;
    color: #757575;
}
.mailto:hover {
    color: #039BE5;
}

.workTxt:hover{
    color: #039BE5;
}

.abtText:hover{
    color: #F48FB1;
}

.resumeText:hover {
    color: #AED581;
}

/*-----contentPage---------*/
.contentWrapper {
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.contentImg {
    width: 100%;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
}

.contentImgRot {
    width: 30%;
    display: inline-block;
    float: left;
    transform: rotate(90deg);
    margin-top: 5%;
    margin-bottom: 10%;
}

.contentImgMulti {
    width: 50%;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
}

/* Slide Show */
.mySlide1 {
    display: none;
}

.mySlide2 {
    display: none;
}

.mySlide3 {
    display: none;
}

.mySlide4 {
    display: none;
}

.mySlide5 {
     display: none;
 }

.mySlide6 {
    display: none;
}

.mySlide7 {
    display: none;
}

.cursor {
    cursor: pointer;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.dot1 {
    opacity: 0.6;
}

.dot2 {
    opacity: 0.6;
}

.dot3 {
    opacity: 0.6;
}

.dot4 {
    opacity: 0.6;
}

.dot5 {
    opacity: 0.6;
}

.dot6 {
     opacity: 0.6;
 }

.dot7 {
    opacity: 0.6;
}

.active,
.dot1:hover {
     opacity: 1;
 }

.active,
.dot2:hover {
    opacity: 1;
}

.active,
.dot3:hover {
    opacity: 1;
}

.active,
.dot4:hover {
    opacity: 1;
}

.active,
.dot5:hover {
    opacity: 1;
}

.active,
.dot6:hover {
    opacity: 1;
}

.active,
.dot7:hover {
    opacity: 1;
}

.link {
    text-decoration: none;
    color: #039BE5;
}

.iframe {
    margin: auto;
    width: 100%;
}

/*-------nextButton--------*/
.next {
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    float: right;
}
.prev {
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    float: left;
}
